.container {
  display: flex;
  justify-content: center; /* Center the children horizontally */
  align-items: start; /* Align children to the start of the cross axis */
  gap: 0px; /* Space between the two grids */
  margin: auto; /* Center the grid */
}

.grid {
  display: grid;
  background-color: #c6c6c6;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 0px; /* Space between items */
  max-width: 184px; /* Adjust based on your preference */
  padding: 12px; /* Padding around the grid */
}

.gridResult {
  display: grid;
  background-color: #c6c6c6;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr); /* 3 rows */
  gap: 0px; /* Space between items */
  max-width: 66px; /* Adjust based on your preference */
  padding: 12px; /* Padding around the grid */
  padding-left: 0px; /* Padding around the grid */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  width: 54px; /* Size of each item */
  height: 54px; /* Size of each item */
  background-color: #8b8b8b; /* Light grey background */
  border-color: #373737 #ffffff #ffffff #373737;
}

.invisible{
  visibility: hidden;
}

.result {
  grid-row: 2;
  grid-column: 1;
}